body {
    font-family: 'Roboto', sans-serif;
}

html {
    scrollbar-color: rgba(204, 200, 188, 1) rgba(253, 253, 253, 1) ;  /* 204 200 188  / 233, 81, 34,*/
}

::selection {
    background-color: rgba(233, 81, 34, 0.9);
    color: rgba(253, 253, 253, 1);
}

::-moz-selection {
    background-color: rgba(233, 81, 34, 0.9);
    color: rgba(253, 253, 253, 1);
}


.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}


.table-container {
    overflow-x: auto;
    scrollbar-color: rgba(204, 200, 188, 1) rgba(253, 253, 253, 1) ;  /* 204 200 188  / 233, 81, 34,*/
    scrollbar-width: thin;
}

#timeline {
    animation: timeline 2s ease-in-out 1 forwards;
}

#prisoner-illustration {
    animation: prisoner-illustration 2s ease-in-out 1 forwards;

}

#title {
    animation: title 2s ease-in-out 1 forwards;
}

#banner-btn {
    animation: banner-btn 2s ease-in-out 1 forwards;
}

#banner-text-block {
    animation: banner-text-block 2s ease-in-out 1 forwards;
}


@keyframes banner-text-block {
    from {
        transform: translateX(-1500px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes title {
    from {
        transform: translateX(-1000px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes banner-btn {
    from {
        transform: translateY(1500px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes timeline {
    from {
        transform: translateX(1000px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes prisoner-illustration {
    from {
        transform: translateY(2000px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}







/*-------------------*/
/*---  JS ANIMATIONS  ---*/


@media only screen and (min-width: 768px) {

    .overview-icon-block:nth-child(1) {
        transition-delay: 0ms;
    }

    .overview-icon-block:nth-child(2) {
        transition-delay: 0ms;
    }

    .overview-icon-block:nth-child(3) {
        transition-delay: 0ms;
    }

    .overview-icon-block:nth-child(2) {
        transition-delay: 200ms;
    }

    .overview-icon-block:nth-child(3) {
        transition-delay: 400ms;
    }



    .to-animate-h2 {
        opacity: 0;
        filter: blur(1px);
        transform: translateX(-10%);
        transition: all 1s ease-in-out;
        transition-delay: 100ms
    }

    .animate-h2 {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0%);
    }


    .to-animate-seq {
        opacity: 0;
        filter: blur(2px);
        transform: translateX(80%);
        transition: all 800ms ease-in-out;
    }

    .animate-seq {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0%);
    }


    .to-animate-text-block {
        opacity: 0;
        filter: blur(1px);
        transform: translateY(15%);
        transition: all 800ms ease-in-out;
        transition-delay: 150ms;
    }

    .animate-text-block {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0%);
    }

}